version = 1

[install]
gnumake.pkg-path = "gnumake"
jdk.pkg-path = "jdk"
tomcat.pkg-path = "tomcat"
tomcat.priority = 4
# The "native" variant is used in production environments.
tomcat-native.pkg-path = "tomcat-native"

[build.sample-tomcat-app]
description = "Sample tomcat app copied from https://tomcat.apache.org/tomcat-5.5-doc/appdev/sample/"
version = "5.5.1"
sandbox = "pure"
command = "make install PREFIX=$out"
