version = 1

[install]
jdk.pkg-path = "jdk"
tomcat.pkg-path = "tomcat"
tomcat.priority = 4
# The "native" variant is used in production environments.
tomcat-native.pkg-path = "tomcat-native"
gnumake.pkg-path = "gnumake"

[vars]
# For development only.
CATALINA_HOME = "$FLOX_ENV"
# JAVA_HOME = "$FLOX_ENV"

[hook]
# on-activate = '''
#   # -> Set variables, create files and directories
#   # -> Perform initialization steps, e.g. create a python venv
#   # -> Useful environment variables:
#   #      - FLOX_ENV_PROJECT=/home/user/example
#   #      - FLOX_ENV=/home/user/example/.flox/run
#   #      - FLOX_ENV_CACHE=/home/user/example/.flox/cache
# '''

[services]
# myservice.command = "python3 -m http.server"

[build.sample-tomcat-app]
description = "Sample tomcat app copied from https://tomcat.apache.org/tomcat-5.5-doc/appdev/sample/"
version = "5.5"
sandbox = "pure"
command = """
  make install PREFIX=$out
"""
#command = """
#  set -x
#
#  # Make directories
#  mkdir -p $out/{bin,webapps}
#
#  # Install tomcat app
#  cp sample.war $out/webapps
#
#  # Create startup script
#  cat > $out/bin/sample-tomcat-app << 'EOF'
#  #!/bin/bash -x
#
#  # Set CATALINA_HOME and JAVA_HOME pointing to the package directory.
#  export CATALINA_HOME=$FLOX_ENV
#  # export JAVA_HOME=$FLOX_ENV
#
#  # Set the LD_LIBRARY_PATH to include the Tomcat native libraries.
#  LD_LIBRARY_PATH=$CATALINA_HOME/lib
#  export LD_LIBRARY_PATH
#
#
#  # Set CATALINA_BASE to a mutable directory. Note that we cannot rely
#  # on FLOX_ENV_CACHE being set because that variable is only set in
#  # the context of a developer environment started with `flox activate`.
#  # When doing an app "for real" you would want something else here.
#  export CATALINA_BASE="$(mktemp -d)"
#
#  # Create "temp" directory to silence Java warnings.
#  mkdir -p $CATALINA_BASE/temp
#
#  # Pull in required files from the tomcat package
#  ln -s $FLOX_ENV/conf $CATALINA_BASE
#
#  # Launch Tomcat.
#  exec catalina.sh run "$@"
#  EOF
#
#  # Heredoc does not expand variables, so replace references to $out in script
#  sed -i 's|$out|'"$out"'|g' $out/bin/sample-tomcat-app
#
#  chmod +x $out/bin/sample-tomcat-app
#"""
